<%= turbo_stream_from @pool %>

<div class="d-flex flex-row p-2">
  <div class="col-md-3 col-sm-12 shadow rounded p-2">
    <div>
      Pool information: 
      <i class="bi bi-0-circle"></i>
      <%= @pool.hashid %>
    </div>

    <%= render partial: "pulses", locals: { pulses: @pulses } %>
  </div>

  <div class="col-md-9 col-sm-12 bg-success">
    <div>
      <%= turbo_frame_tag :pulse_details do %>
        <%= render partial: "pools/empty_state" if @pulses.none? %>
      <% end %>
    </div>
  </div>
</div>
