<%= turbo_stream_from @pool %>

<div class="d-flex flex-row p-0">
  <div class="col-md-3 col-sm-12 py-4 bg-light border-dark-subtl border-end full-height">
    <%= render HeaderListComponent.new(pool: @pool) %>
    
    <div id="pulses" class="d-flex flex-column gap-1">
      <%= render PulseItemComponent.with_collection(@pulses), class: 'animate__fadeIn' %>
    </div>
  </div>

  <div class="col-md-9 col-sm-12 p-3">
    <%= render EmptyStateComponent.new(pool: @pool) %>
    <%= render PulseDetailComponent.new(pulse: @pulses&.first) %>
  </div>
</div>
