<%= tag.turbo_frame id: "#{@pulse.hashid}_item", data: { controller: 'fade-effect' } do %>
  <div class="d-flex justify-content-between gap-0 pulse-item bg-white">
    <%= link_to pulse_path(@pulse.hashid),
                data: { turbo_frame: :pulse_details },
                class: 'flex-grow-1 align-self-center text-decoration-none text-dark p-3' do %>

      <div class="mb-2">
        <span class="rounded p-2 me-2 <%= http_tag(@pulse.http_method) %>"><%= @pulse.http_method %></span>
        <span>#<%= @pulse.hashid %></span> -
        <span><%= @pulse.ip %></span>
      </div>
      <span><%= l(@pulse.created_at, format: :with_sec) %> UTC</span>
    <% end %>
  
    <%= link_to pulse_path(@pulse.hashid), data: { turbo_method: :delete }, class: "text-danger align-self-center mt-1 me-4" do %>
      <i class="bi bi-x-square-fill fs-3" title="Remove request"></i>
    <% end %>
  </div>
<% end %>
