<div id="<%= dom_id(request) %>" class="py-3 bg-white hover:bg-slate-200 my-2 p-2 max-w-sm rounded-md shadow">
  <%= link_to request_path(request), data: { turbo_frame: :request_details } do %>
      <p>Request ID: <%= request.hashid %></p>
      <p>Method: <%= request.http_method %></p>
      <p>Created at: <%= l(request.created_at, format: :short) %></p>
  <% end %>

  <%= 
    button_to 'Remove',
      request_path(request),
      method: :delete,
      class: "bg-red-500 px-2 py-1 text-white rounded inline-flex items-center justify-center shadow-md"
  %>
</div>
